<!DOCTYPE html>
<html>
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INFO Log 0005A</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <a href="#" class="navbar-brand">DIYson Pro</a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav">
                  <a href="#" class="nav-item nav-link">About</a>
                  <a href="#" class="nav-item nav-link">API</a>
                  <a href="#" class="nav-item nav-link">Log</a>
              </div>
              <div class="navbar-nav ms-auto">
                  <a href="#" class="nav-item nav-link">Login</a>
              </div>
          </div>
      </div>
  </nav>

    <div class="container border border-dark border-end-0 border-start-0 border-top-0 py-3 my-3">
          <h2>TYPEERROR: BAD OPERAND TYPE FOR UNARY +: 'STR'</h1>
    </div>
      <h2 class="code">ERROR CODE: 0x12</h2>
      <h2 class="datetime">2021-09-12 12:00:00 | INFO</h2> 
      <h3 class = traceback>traceback: most recent  call last:</h3>
      <img id="qr" src="img/qr.png">
      <p class="help">https://192.168.1.1:8005/help</p>
      <p class="foot">v0 | 0x12</p>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>

  </body>
</html>